.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 29px;
    @include forTablet{
      width:75px;
      height:36px;
    }
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primaryColor;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    @include forTablet{
      width:28px;
      height:28px;
    }
  }
  
  input:checked + .slider {
    background-color: #ccc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $primaryColor;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    @include forTablet{
      -webkit-transform: translateX(36px);
      -ms-transform: translateX(36px);
      transform: translateX(36px);
    }
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .slider:after{
 content:'ES';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 14px;
 font-family: $fontFamilyGeneral;
 padding-left:20px;
 font-weight: bold;
 @include forTablet{
  font-size:18px;
  padding-left:20px;
}
}

input:checked + .slider:after{  
content:'EN';
padding-right:40px;
color:$primaryColor;
font-weight: bold;
@include forTablet{
  font-size:18px;
  padding-right:45px;
}
}

/* project button */

.allbuttons{
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  padding:5px;
      .btn{
          border:1px solid $black;
          background-color: transparent;
          color:$primaryColor;
          box-shadow: -4px 4px 0 $black;
          font-size: 11px;
          width:80px;
          margin:3px;
          font-weight: bold;
          height:35px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            top: 3px;
            left: -3px;
            box-shadow: -2px 2px 0 $black;
          }
          @include forTablet{
            box-shadow: -6px 6px 0 $black;
              width:90px;
              height:35px;
              margin-left:30px;
              font-size:12px;
              &:hover {
                top: 3px;
                left: -3px;
                box-shadow: -3px 3px 0 $black;
              }
      }
      @include forDesktop{
          width:140px;
          height:60px;
          font-size: 17px;
          margin-left:40px;
          margin-bottom:10px;
  }
  @include forSuperdesktop{
          width:200px;
          height:70px;
          font-size: 28px;
          margin-top:20px;
  }
      }
}