/* colors */
$primaryColor: #FF69EB;
$trying: #FFBF81;
$trying2: #C04ABC;
$trying3: #CA2E55;
$mygrey:#FFFCF9;
/* sizes */
$titlePhone:36px;
$titleTablet:48px;
/* fonts */
$fontFamilyTitle:'Nunito', sans-serif;
$fontFamilyGeneral: 'Roboto Mono', monospace;

/* responsive */
$tablet: 738px;
$desktop:1100px;
