/* colors */
$primaryColor: #FF69EB;
$icons:rgba(47, 47, 47, 0.8);
$iconHover:#2F2F2F;
$buttonColor:#FF69EB;
$twoButtonColor:rgba(47, 47, 47, 0.8);
$black:#2F2F2F;
/* sizes */
$titlePhone:34px;
$titlePhoneDetail:24px;
$titleLittleTablet:32px;
$titleTablet:38px;
$titleDesktop:40px;
/* fonts */
$fontFamilyTitle:'Nunito', sans-serif;
$fontFamilyGeneral: 'Roboto Mono', monospace;

/* responsive */
$tablet: 738px;
$desktop:1024px;
$mediumdesktop:1100px;
$superdesktop:1200px;


/* Github sizes */
$GitTablet: 738px;
$GitDesktop:1012px;
$GitSuperdesktop:1280px;
$mobile:500px;
$GitMobileProject:544px;