/* colors */
$primaryColor: #FF69EB;
$trying: #FFBF81;
$trying2: #C04ABC;
$black:#2F2F2F;
/* sizes */
$titlePhone:36px;
$titleLittleTablet:40px;
$titleTablet:48px;
$titleDesktop:54px;
/* fonts */
$fontFamilyTitle:'Nunito', sans-serif;
$fontFamilyGeneral: 'Roboto Mono', monospace;

/* responsive */
$tablet: 738px;
$bigTablet:768px;
$desktop:1024px;
$mediumdesktop:1100px;
$superdesktop:1200px;
$mobile:500px;
