@import 'components/button';
.aside{
    margin-top:0px;
        @include forMobile{
            width:180px;
            height:100%;
            border-right:1px solid lightgray;
            position:fixed;
            background-color: white;
        }
        @include forTablet{
            width:200px;
        }
    .languageToggle{
        margin-top:25px;
        margin-left:20px;
         @include forTablet{
             top:25px;
         }
    }
    .asidebtn{
        display:none;
        @include forMobile{
                display:block;
                text-transform: uppercase;
                transform:rotate(270deg);
                position:absolute;
                top:40%;
                right:30px;
                text-decoration: none;
                border:1px solid $black;
                background-color: transparent;
                color:$primaryColor;
                box-shadow: -4px 4px 0 $black;
                font-size: 12px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                width:120px;
            }
            @include forTablet{
                height: 45px;
                width:140px;
                font-size:16px;
                &:hover {
                    box-shadow: -3px 3px 0 $black;
                  }
            }
            @include forDesktop{
                right:30px;
            }
        }
    .mainIconsAside{
        display:none;
            @include forMobile{
                display:flex;
                justify-content: space-around;
                align-items: center;
                margin-top:20px;
                position:absolute;
                left:0px;
                bottom:50px;
            }
            @include forTablet{
                left:5px;
                bottom:50px;
                margin-top:20px;
            }
            @include forDesktop{
                left:5px;
                }
            i{
                margin-left:20px;
                margin-right:20px;
            }
            .fab{
                color:$primaryColor;
                font-size:20px;
                @include forDesktop{
                font-size: 22px;
                }
                &:hover{
                    color:black;
                }
            }
            .fas{
                color:$primaryColor;
                font-size:20px;
                @include forDesktop{
                font-size: 22px;
                }
                &:hover{
                    color:black;
                }
            }
        }
    }

           