.aside{
    display:none;
    width:0vw;
    height:0vh;
    @include forTablet{
        display:block;
        width:35vw;
        height:100vh;
        border-right:1px solid lightgray;
        position:fixed;
        background-color: white;
        .linkTabletProject{
            text-transform: uppercase;
            color: black;
            font-family: $fontFamilyTitle;
            font-size:28px;
            font-weight: 200;
            transform:rotate(270deg);
            position:absolute;
            top:480px;
            right:10px;
        }
    }
}