.aside{
    margin-top:0px;
        @include forMobile{
            width:180px;
            height:100%;
            border-right:1px solid lightgray;
            position:fixed;
            background-color: white;
        }
        @include forTablet{
            width:270px;
        }
    .languageToggle{
        margin-top:25px;
        margin-left:20px;
         @include forTablet{
             top:25px;
         }
    }
    .linkTabletProject{
        display:none;
        @include forMobile{
                display:block;
                text-transform: uppercase;
                color: $primaryColor;
                font-family: $fontFamilyGeneral;
                font-size:28px;
                font-weight: 200;
                transform:rotate(270deg);
                position:absolute;
                top:40%;
                background-color: transparent;
                right:30px;
                border:1px solid $black;
                text-shadow: -2px -1px rgba(0,0,0,0.2);
                box-shadow:1px 0.5px 3.5px 0.5px $primaryColor;
            }
            @include forDesktop{
                font-size:36px;
                right:30px;
            }
        }
    .mainIconsAside{
        display:none;
            @include forTablet{
                display:flex;
                justify-content: space-around;
                align-items: center;
                margin-top:20px;
                position:absolute;
                left:60px;
                bottom:50px;
            }
            @include forDesktop{
                left:20px;
                }
            i{
                margin-left:20px;
                margin-right:20px;
            }
            .fab{
                font-size: 28px;
                color:$primaryColor;
                @include forDesktop{
                font-size: 36px;
                }
                &:hover{
                    color:black;
                }
            }
            .fas{
                font-size: 28px;
                color:$primaryColor;
                @include forDesktop{
                    font-size: 36px;
                    }
                &:hover{
                    color:black;
                }
            }
        }
    }

           