.ProjectDetails{
    background-color: #FFFCF9;
    height:100vh;
    margin:20px 20px 20px 20px;
    .details__top{
        border-bottom:1px solid lightgray;
        margin-bottom:20px;
        .projectDetails__Title{
            font-family:$fontFamilyGeneral;
            text-align: left;
            font-size: $titlePhoneDetail;
            color:$black;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom:10px;
            margin-top:65px;
        }
        .btnExit{
            position:absolute;
            right:20px;
            top:15px;
            color:$black;
            font-size:16px;
            text-transform: uppercase;
            font-family: $fontFamilyTitle;
            box-shadow: inset 0 -6px 0 $primaryColor;
        }
        .btnMobile{
            display:block;
            @include forMobile{
                display:none;
            }
        }
        .btnTablet{
            display:none;
            @include forMobile{
                display:block;
            }
        }
    }
    .container__Details{
        display:flex;
        flex-direction: column;
        .buttons__details{
            display:flex;
            justify-content: flex-start;
            .details__button{
                margin-left:10px;
                a{
                    text-decoration: none;
                    color:$primaryColor;
                }
            }
        }
        .details__description{
            text-align:justify;
            margin-bottom:20px;
            font-family: $fontFamilyGeneral;
            font-size:14px;
            line-height: 20px;
            margin-right:20px;
            border-left:4px solid $black;
            border-style: dotted;
            padding-left:15px;
        }
        .img__container{
            margin-top:20px;
            display:flex;
            flex-direction: column;
            align-items: center;
            .iconProjectZeroDetail{
                width:430px;
                margin-bottom:40px;
            }
        }
    }
}