.ProjectPage{
    margin-top:60px;
    display: grid;
    grid-column:1;
    padding-bottom:20px;
    font-family:$fontFamilyGeneral;
    grid-gap:40px;
    @include forTablet{
        margin-left:270px;
        background-color: #FFFCF9;
        margin-top:0px;
        height:100vh;
    }
        .projectCard{
            background:white;
            width:340px;
            height:300px;
            -webkit-box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            position: relative;
            @include forTablet{
                width:400px;
                height:360px;
                margin-top:20px;
                margin-left:40px;
            }
            @include forDesktop{
                width:950px;
                height:350px;
            }
                .projectCardTop{
                    height:45%;
                }
                .projectCardBottom{
                    height:55%;
                        .project__info{
                            padding:10px;
                            line-height: 20px;
                            font-size:20px;
                            color:$black;
                            @include forTablet{
                                  font-size:24px; 
                                  line-height: 25px; 
                            }
                            .project__info--title{
                                font-weight: bold;
                                margin-bottom:10px;
                            }
                            .project__info--tools{
                                margin-bottom:6px;
                            }
                            .project__info--description{
                                font-size: 18px;
                                color:darkgrey;
                                @include forTablet{
                                    font-size:24px; 
                                    
                              }
                            }
                        }
                        .cardIcons{
                            position:absolute;
                            right:5px;
                            bottom:20px;
                            display: flex;
                            justify-content: flex-end;
                            font-size: 20px;
                            opacity:0.8;
                            @include forTablet{
                                font-size:24px; 
                          }
                                .fas{
                                    color:$primaryColor;
                                    margin-right:25px;
                                    text-decoration: none;
                                        }
                                    }
                                }
                                
                        }
                }
.one{
    .oneTop{
        background-color:/*  #fbfc74; */ $primaryColor;
        .iconProjectOne{
            width:210px;
            position: absolute;
            top:-50px;
            right:-20px;
            @include forTablet{
                width:240px;
            }
        } 
    }
}
.two{
    .twoTop{
        background-color: black;
        .iconProjectTwo{
            width:180px;
            position: absolute;
            top:-45px;
            left:-10px;
            @include forTablet{
                width:220px;
                top:-58px;
            }
        } 
    }
}
.three{
    .threeTop{
        background-color:#9A98B5;
        .iconProjectThree{
            width:250px;
            position: absolute;
            top:-35px;
            left:100px;
            @include forTablet{
                width:300px;
                top:-50px;
                left:120px;
            }
        }
    }
}