.ProjectPage{
    padding-bottom:20px;
    font-family:$fontFamilyGeneral;
    .containerProject{
        display: grid;
        grid-column:1;
        grid-gap:45px;
        margin-top:40px;
        @include forMobile{
            margin-left:180px;
            margin-top:0px;
            background-color: #FFFCF9;
        }
        @include forTablet{
            justify-content: center;
            margin-top:0px;
        }
        @include forDesktop{
            margin-left:200px;
            justify-content: center;
            grid-gap:50px;
        }
        @include forSuperdesktop{
            grid-gap:40px;
        }
        .allbuttons{
            text-align: center;
            display:flex;
            justify-content: space-evenly;
            padding:5px;
            margin-top:20px;
            @include forMobile{
              margin-left:10px;
          }
          @include forTablet{
            margin-left:0px;
        }
          }
        .projects__title{
            text-align: right;
            font-size: $titlePhone;
            color:$black;
            font-weight: bold;
            text-transform: uppercase;
            margin-right:87px;
            font-family: $fontFamilyTitle;
            @include forMobile{
                display:none;
            }
        }
        .projectCard{
            width:300px;
            height:260px;
            -webkit-box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            position: relative;
            margin-left:25px;
            @include forMobile{
                margin-left:10px;
            }
            @include forGitMobile{
                margin-left:30px;
            }
            @include forTablet{
                width:360px;
                height:300px;
                margin-top:20px;
                margin-left:140px;
            }
            @include forDesktop{
                width:600px;
                height:300px;
                background:none;
                margin-left:0px;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin-bottom:20px;
                @include forSuperdesktop{
                    width:700px;
                    height:340px;
                }
            }
                .projectCardTop{
                    height:45%;
                    @include forDesktop{
                        width:100%;
                        height:320px;
                        margin-left:20px;
                        -webkit-box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
                        box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
                    }
                }
                .projectCardBottom{
                    height:55%;
                    background:white;
                   @include forDesktop{
                        height:300px;
                        width:350px;
                        position:absolute;
                        background-color: white;
                        -webkit-box-shadow: 3px 3px 3px 0px rgba(59, 59, 59, 0.2);
                        box-shadow: 3px 3px 3px 0px rgba(59, 59, 59, 0.2);
                    }
                    @include forSuperdesktop{
                        height:300px;
                        width:350px;
                    }
                        .project__info{
                            padding:10px;
                            line-height: 18px;
                            font-size:16px;
                            color:$black;
                            @include forTablet{
                                  font-size:18px; 
                                  line-height: 24px; 
                            }
                            @include forDesktop{
                                padding:20px;
                                margin-top:60px;
                            }
                            .project__info--title{
                                font-weight: bold;
                                margin-bottom:10px;
                            }
                            .project__info--tools{
                                margin-bottom:6px;
                                @include forMobile{
                                    font-size:16px;
                                }
                            }
                            .project__info--description{
                                font-size: 16px;
                                color:darkgrey;
                                @include forMobile{
                                    font-size:14px;
                                }
                            }
                        }
                        .cardIcons{
                            position:absolute;
                            right:5px;
                            bottom:15px;
                            display: flex;
                            justify-content: flex-end;
                            font-size: 18px;
                            opacity:0.8;
                            @include forTablet{
                                font-size:18px;
                                bottom:20px; 
                          }
                            @include forSuperdesktop{
                                font-size:20px;
                            }
                                .fas{
                                    color:$primaryColor;
                                    margin-right:25px;
                                    text-decoration: none;
                                        }
                                    }
                                }
                                
                        }
                }
            }
.one{
    .oneTop{
        background-color: #63cbfb;
        @include forDesktop{
        }
        
    }
    .oneBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectOneDesk{
            position: absolute;
            width:140px;
            left:180px;
            top:-30px;
            @include forTablet{
                width:200px;
                left:195px;
                top:-35px;
            }
            @include forDesktop{
                top:-10px;
                width:260px;
                left:400px;
                transform:rotate(20deg);
            }
            @include forSuperdesktop{
                width:300px;
                left:400px;
            }
        }
    }
.two{
    .twoTop{
        background-color: black;
        }
    .twoBottom{
            @include forDesktop{
                top:-30px;
                left:40px;
            }
        }
        .iconProjectTwo{
            width:140px;
            position: absolute;
            top:-23px;
            right:-8px;
            @include forTablet{
                width:190px;
                top:-55px;
            }
            @include forDesktop{
                width:260px;
                top:60px;
                right:5px;
            }
            @include forSuperdesktop{
                width:280px;
                top:40px;
            }
        } 
    }
    
.three{
    .threeTop{
        background-color:#9A98B5;
    }
    .threeBottom{
        @include forDesktop{
            top:-30px;
            right:10px;
        }
    }
        .iconProjectThree{
            width:200px;
            position: absolute;
            top:-35px;
            left:-10px;
            @include forTablet{
                width:260px;
                top:-40px;
            }
            @include forDesktop{
                width:340px;
                top:80px;
                left:5px;
            }
            @include forSuperdesktop{
                width:380px;
                left:10px;
                top:30px;
            }
        }
    }
    .two2{
        .twoTop2{
            background-color:rgba(243, 243, 243,0.8);
        }
        .twoBottom2{
            @include forDesktop{
                top:-30px;
                right:20px;
            }
        }
        .iconProjectTwo2{
            width:100px;
            position: absolute;
            top:-20px;
            left:30px;
            @include forTablet{
                width:140px;
                top:-50px;
            } 
            @include forDesktop{
                width:200px;
                top:20px;
                right:330px;
            }
            @include forSuperdesktop{
                width:240px;
                top:-40px;
                left:80px;
            }
    }
}
.four{
    .fourTop{
        background-color: #BF1A2F;
    }
    .fourBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectfour{
            width:100px;
            position: absolute;
            top:-25px;
            right:20px;
            @include forTablet{
                width:140px;
                top:-55px;
            }
            @include forDesktop{
                top:20px;
                width:200px;
                right:2px;
            }
            @include forSuperdesktop{
               right:60px;
               top:-30px;
               width:220px;
            }
        }
}
.five{
    .fiveTop{
        background-color: $primaryColor;
    }
    .fiveBottom{
        @include forDesktop{
            top:-30px;
            right:20px;
        }
    }
        .iconPortfolio{
            width:130px;
            position: absolute;
            top:-33px;
            left:20px;
            @include forTablet{
                width:160px;
                top:-48px;
            }
            @include forDesktop{
                top:55px;
                width:230px;
                right:2px;
            }
            @include forSuperdesktop{
               right:60px;
               top:-2px;
               width:280px;
            }
        }
}

