.containerHover{
        width:300px;
        height:260px;
            @include forTablet{
                width:360px;
                height:300px;
                margin-top:20px;
            }
            @include forDesktop{
                width:600px;
                height:300px;
                margin-bottom:20px;
            }
            @include forSuperdesktop{
                width:700px;
                height:340px;
            }
        .fa-long-arrow-alt-right{
            display:block;
            @include forMobile{
                display:none;
            }
        }
}
.containerHover:hover{
    .fa-long-arrow-alt-right{
        display:block;
    }
}
.fa-long-arrow-alt-right{
    animation:fadeInRight;
    animation-duration: 0.8s;
}
.one{
    .oneTop{
        background-color: #63cbfb;
        @include forDesktop{
        }
        
    }
    .oneBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectOneDesk{
            position: absolute;
            width:140px;
            left:180px;
            top:-30px;
            @include forTablet{
                width:200px;
                left:195px;
                top:-35px;
            }
            @include forDesktop{
                top:-10px;
                width:260px;
                left:400px;
                transform:rotate(20deg);
            }
            @include forSuperdesktop{
                width:300px;
                left:400px;
            }
        }
    }
.two{
    .twoTop{
        background-color: $black;
        }
    .twoBottom{
            @include forDesktop{
                top:-30px;
                left:40px;
            }
        }
        .iconProjectTwo{
            width:110px;
            position: absolute;
            top:2px;
            right:20px;
            @include forTablet{
                width:160px;
                top:-15px;
            }
            @include forDesktop{
                width:200px;
                top:60px;
                right:5px;
            }
            @include forSuperdesktop{
                width:220px;
                top:40px;
            }
        } 
    }
    
.three{
    .threeTop{
        background-color:#9A98B5;
    }
    .threeBottom{
        @include forDesktop{
            top:-30px;
            right:10px;
        }
    }
        .iconProjectThree{
            width:200px;
            position: absolute;
            top:-35px;
            left:-10px;
            @include forTablet{
                width:260px;
                top:-40px;
            }
            @include forDesktop{
                width:340px;
                top:80px;
                left:5px;
            }
            @include forSuperdesktop{
                width:380px;
                left:10px;
                top:30px;
            }
        }
    }
    .two2{
        .twoTop2{
            background-color:rgba(243, 243, 243,0.8);
        }
        .twoBottom2{
            @include forDesktop{
                top:-30px;
                right:20px;
            }
        }
        .iconProjectTwo2{
            width:100px;
            position: absolute;
            top:-20px;
            left:30px;
            @include forTablet{
                width:140px;
                top:-50px;
            } 
            @include forDesktop{
                width:200px;
                top:20px;
                right:330px;
            }
            @include forSuperdesktop{
                width:240px;
                top:-40px;
                left:80px;
            }
    }
}
.zero{
    .zeroTop{
        background-color: #ABEDC6;
    }
    .zeroBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectZero{
            width:120px;
            position: absolute;
            top:5px;
            right:20px;
            @include forTablet{
                width:140px;
                top:-5px;
            }
            @include forDesktop{
                top:50px;
                width:200px;
                right:2px;
            }
            @include forSuperdesktop{
               right:30px;
               top:20px;
               width:260px;
            }
        }
}
.five{
    .fiveTop{
        background-color: $primaryColor;
    }
    .fiveBottom{
        @include forDesktop{
            top:-30px;
            right:20px;
        }
    }
        .iconPortfolio{
            width:130px;
            position: absolute;
            top:-33px;
            left:20px;
            @include forTablet{
                width:160px;
                top:-48px;
            }
            @include forDesktop{
                top:55px;
                width:230px;
                right:2px;
            }
            @include forSuperdesktop{
               right:60px;
               top:-2px;
               width:280px;
            }
        }
}

