.ProjectPage{
    margin-top:60px;
    display: grid;
    grid-column:1;
    margin-bottom:40px;
    font-family:$fontFamilyGeneral;
        .projectCard{
            background:white;
            width:260px;
            height:200px;
            -webkit-box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            box-shadow: 3px 3px 3px 2px rgba(59, 59, 59, 0.2);
            position: relative;
                .projectCardTop{
                    background-color: $primaryColor;
                    height:45%;
                        .iconProjectOne{
                            width:150px;
                            position: absolute;
                            top:-42px;
                            right:-20px;
                        } 
                }
                .projectCardBottom{
                    height:55%;
                }
        }
}