.one{
    .oneTop{
        background-color: #63cbfb;
        @include forDesktop{
        }
        
    }
    .oneBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectOneDesk{
            position: absolute;
            width:140px;
            left:180px;
            top:-30px;
            @include forTablet{
                width:200px;
                left:195px;
                top:-50px;
            }
            @include forDesktop{
                top:-10px;
                width:260px;
                left:400px;
                transform:rotate(20deg);
            }
            @include forSuperdesktop{
                width:300px;
                left:400px;
            }
        }
    }
    
    .two2{
        .twoTop2{
            background-color:#ff9d59;
        }
        .twoBottom2{
            @include forDesktop{
                top:-30px;
                left:40px;
            }
        }
        .iconProjectTwo2{
            width:140px;
            position: absolute;
            top:-10px;
            right:0px;
            @include forTablet{
                width:170px;
                top:-20px;
            } 
            @include forDesktop{
                width:240px;
                right:-30px;
                top:20px;
            }
            @include forSuperdesktop{
                width:300px;
                top:5px;
                right:0px;
            }
    }
}
.zero{
    .zeroTop{
        background-color: #ABEDC6;
    }
    .zeroBottom{
        @include forDesktop{
            top:-30px;
            left:40px;
        }
    }
        .iconProjectZero{
            width:120px;
            position: absolute;
            top:5px;
            right:20px;
            @include forTablet{
                width:140px;
                top:-5px;
            }
            @include forDesktop{
                top:50px;
                width:200px;
                right:2px;
            }
            @include forSuperdesktop{
               right:30px;
               top:20px;
               width:260px;
            }
        }
}
.five{
    .fiveTop{
        background-color: $primaryColor;
    }
    .fiveBottom{
        @include forDesktop{
            top:-30px;
            right:20px;
        }
    }
        .iconPortfolio{
            width:130px;
            position: absolute;
            top:-33px;
            left:20px;
            @include forTablet{
                width:160px;
                top:-48px;
            }
            @include forDesktop{
                top:55px;
                width:230px;
                right:2px;
            }
            @include forSuperdesktop{
               right:60px;
               top:-2px;
               width:280px;
            }
        }
}

.six{
    .sixTop{
        background-color: #8980F5;
    }
    .sixBottom{
        @include forDesktop{
            top:-30px;
            right:20px;
        }
    }
        .iconProjectSix{
            width:110px;
            position: absolute;
            top:-16px;
            left:20px;
            @include forTablet{
                width:130px;
                top:-20px;
            }
            @include forDesktop{
                top:55px;
                width:180px;
                left:32px;
            }
            @include forSuperdesktop{
               top:20px;
               width:240px;
               left:45px;
            }
        }
}

